@charset "UTF-8";

body {
	padding-top: 60px;
	overflow-x: hidden;
}

.subject {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}

#select-region-container {
	text-align: right;
	width: 1000px;
	margin: 50px auto;
}

.select-region {
	width: 140px;
	height: 30px;
	font-size: 10pt;
	border-radius: 10px;
	font-weight: bold;
}

#item-wrap {
	width: 1049px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#item-list {
	display: flex;
	flex-flow: wrap;
	width: 100%;
}

.item {
	width: 250px; /* 3개씩 나열되도록 설정 */
	padding: 10px;
	box-sizing: border-box;
	margin: 6px;
}

.item img {
	width: 223px;
	height: 223px;
	object-fit: cover;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}

.article-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

#status-price {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
}

.status {
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: white;
	font-size: 10pt;
}

.price {
	font-size: 11pt;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 2px;
}

.region {
	font-size: 10pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

.likeAndChat {
	font-size: 10pt;
	color: gray;
	padding-top: 2px;
	padding-bottom: 2px;
}

a {
	text-decoration: none;
	color: black;
}

.register-item {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: inline-block;
	padding: 20px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: #EE7832;
	color: #fff;
	cursor: pointer;
	border: none;
	z-index: 1;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.register-item img {
	width: 40px;
	height: 40px;
}