@charset "UTF-8";

body {
	padding-top: 80px;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	flex-flow: column;
}

main {
	width: 800px;
	height: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

#images-and-user {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: auto;
}

#images {
	display: flex;
	flex-flow: row;
	align-items: center;
	overflow: hidden;
	margin: auto;
}

.slide {
	display: none;
}

.slide.active {
	display: block;
}

#images {
	width: 800px;
}

#images img {
	width: 700px;
	height: 500px;
	object-fit: cover;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}

.slider-btn {
	font-size: 20pt;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

#user-info {
	width: 86%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}

#profile {
	display: flex;
	flex-flow: row;
	align-items: center;
}

#profile-image {
	width: 40px;
	height: 40px;
}

#profile-image img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#info {
	margin-left: 10px;
}

#user-id {
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
}

#user-region {
	font-size: 10pt;
}

#manner {
	display: flex;
	flex-flow: column;
}

#manner-detail {
	display: flex;
	flex-flow: row;
	align-items: center;
}

#user-manner {
	font-size: 12pt;
	font-weight: bold;
	color: blue;
	text-align: right;
	margin-right: 20px;
}

#manner-temperature {
	font-size: 10pt;
	color: gray;
	display: flex;
	justify-content: flex-end;
}

#line {
	width: 88%;
	padding-top: 0px;
	margin-top: 0px;
	border: 0.1px solid #ccc;
	opacity: 0.5;
	display: block;
}

#details {
	margin-top: 20px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 705px;
	height: auto;
}

#title {
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 5px;
}

#category-date {
	font-size: 10pt;
	color: gray;
	margin-bottom: 10px;
}

#status-price {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 25px;
}

.status {
	margin-right: 10px;
	color: white;
	font-size: 12pt;
	border-radius: 5px;
	padding: 3px 6px 3px 6px;
}

#price {
	font-size: 14pt;
	font-weight: bold;
}

#description {
	margin-bottom: 20px;
}

#count {
	font-size: 10pt;
	color: gray;
	margin-bottom: 30px;
}

progress {
	height: 10px;
	width: 100px;
}

#like-and-chat {
	width: 88%;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.like {
	color: orange;
	font-size: 40pt;
	padding-bottom: 10px;
	margin-right: 20px;
}

.chat {
	background-color: #EE7832;
	color: white;
	font-size: 20pt;
	border: 0;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
	padding: 13px 150px 13px 150px;
	margin-right: 15px;
}

#indicator {
	background-color: lightgray;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
	width: 30px;
	height: 30px;
	padding: 15px;
}

#indicator:hover {
	cursor: pointer;
}

#indicator img {
	width: 20px;
	height: 20px;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 배경 어두운 색 */
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
}

.modal {
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.options {
	margin-bottom: 10px;
	margin-top: 10px;
}

#delete a {
	color: red;
}