@charset "UTF-8";

body {
	margin-top: 80px;
	display: flex;
	flex-flow: column;
	align-items: center;
	overflow-x: hidden;
}

h2 {
	margin-bottom: 30px;
}

.line {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0.1px solid #ccc;
	opacity: 0.5;
	display: block;
}

main {
	width: 700px;
	height: auto;
	display: flex;
	flex-flow: column;
	margin-bottom: 50px;
}

#product-wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#product {
	display: flex;
	flex-flow: row;
}

#thumbnail img {
	width: 150px;
	height: 150px;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}

#product-detail {
	margin-left: 15px;
	margin-top: 5px;
}

#product-detail>div {
	margin-bottom: 5px;
}

.title {
	font-size: 13pt;
}

.region {
	font-size: 10pt;
	color: gray;
}

#status-price {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
}

.status {
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: white;
	font-size: 10pt;
}

.price {
	font-size: 12pt;
	font-weight: bold;
}

#isLiked {
	color: orange;
	font-size: 20pt;
}

#isLiked:hover {
	cursor: pointer;
}

#like-chat {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}