@charset "UTF-8";

body {
	padding-top: 60px;
	overflow-x: hidden;
}

#introduce {
	width: 100%;
	height: 100%;
	background-color: #FDF1B2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro-left {
	display: flex;
	flex-flow: column;
	width: 420px;
	height: 100%;
	justify-content: center;
	margin-bottom: 50px;
	margin-right: 20px;
}

#intro-right {
	width: 420px;
	height: 100%;
}

#intro-right img {
	width: 100%;
	height: 100%;
}

.comment1 {
	padding-left: 20%;
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.comment2 {
	margin-top: 5px;
	padding-left: 20%;
	font-size: 13pt;
}

.subject {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}

#item-wrap {
	width: 757px;
	margin: 0 auto;
}

#item-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#item {
	margin-top: 50px;
}

#item img {
	width: 223px;
	height: 223px;
	border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}

.article-title {
	font-size: 13pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

.price {
	font-size: 11pt;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 2px;
}

.region {
	font-size: 10pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

.like-and-chat {
	font-size: 10pt;
	color: gray;
	padding-top: 2px;
	padding-bottom: 2px;
}

a {
	text-decoration: none;
	color: black;
}

#more-item {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 70px;
	margin-bottom: 70px;
}

.register-item {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: inline-block;
	padding: 20px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: #EE7832;
	color: #fff;
	cursor: pointer;
	border: none;
	z-index: 1;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.register-item img {
	width: 40px;
	height: 40px;
}